div#dropdown-menu {
	position: absolute;
	width: 150px;
	display: none;
}

.selected {
	background-color: blue;
	color: white;
}

div#content {
	width: 1200px;
	vertical-align: top;
	margin: auto;
}

div#badges {
	display: inline-block;
	height:210px;
	overflow-y: scroll;
}

div#badges-menu {
	height: 50px;
}

div#badges-container {
	display: inline-block;
	float: left;
	width: 700px;
	vertical-align: top;
	margin: 0px 10px 0px 10px;
}

div#events {
	display: inline-block;
	height:210px;
	overflow-y: scroll;
	vertical-align: top;
}

div#events-menu {
	display: inline-block;
	margin: 10px 0px;
	vertical-align: top;
}

div#events-container {
	display: inline-block;
	float: right;
	width: 400px;
	vertical-align: top;
}

div.badge {
	display: inline-block;
	border: 1px solid black;
	text-align: center;
	height: 200px;
	width: 150px;
	margin: 5px;
	border-radius:15px;
}

div.event {
	border: 1px solid black;
	text-align: center;
	width: 200px;
	border-radius:25px;
	margin: 5px;
	padding: 5px;
}

div.badge-image {
	height: 150px;
	font-size: 250%;
	font-weight: bold;
	vertical-align: text-center;
}

div.badge-text {
	height: 50px;
    float: bottom;  
}