.debug {
	border: 1px solid;
}

.red {
	border-color: red;
}

.green {
	border-color: green;
}

.blue {
	border-color: blue;
}

body {
	background-color: #181818;
	color: white;
}

div#dash-content {
	width: 80%;
	height: 100%;
	margin: auto;
}

div#content {
	width: 90%;
	height: 600px;
	vertical-align: top;
	margin: auto;
	padding: 10px;
}

.top {
	vertical-align: top;
}

.middle {
	vertical-align: middle;
}

.center-text {
	text-align: center;
}

.centered {
	margin: auto;
}

.left {
	float: left;
}

.right {
	float: right;
}

.shortest {
	height: 150px;
}

.shorter {
	height: 250px;
}

.short {
	height: 300px;
}

.tall {
	height: 600px;
}

.short-scaled {
	height: 49%;
}

.skinny-scaled {
	width: 25%;
}

.small-scaled {
	width: 45%;
}

.medium-scaled {
	width: 70%;
}

.wide-scaled {
	width: 75%;
}

.large {
}

.fill-x {
	width: 100%;
}

.fill-y {
	height: 100%;
}

.add > div:first-child {
	width: 80%;
	vertical-align: top;
}

.add > div:last-child {
	vertical-align: top;
}

.side-by-side {
	display: inline-block;
}

.stacked {
	display: block;
}

.spaced {
	margin: 0px 0px 10px 0px;
}

.rounded {
	border-radius: 15px;
}

.container {
	position: relative;
	padding: 10px;
	overflow: hidden;
}

.menu-set {
	background-color: #333333;
	width: 150px;
	height: 100px;
}

.dash {
	position: relative;
	background-color: #333333;
	color: white;
}

.dash p {
}

.dash > .legend {
	position: absolute;
	top: -10px;
	left: 15px;
	color: white;
}

.search {
	width: 400px;
	height: 150px;
}

.inner {
	margin: auto;
	position: relative;
	padding: 15px;
	width: 90%;
	height: 90%;
}

.inner-x {
	margin: auto;
	position: relative;
	padding: 15px;
	width: 90%;
}

.inner-y {
	margin: auto;
	position: relative;
	padding: 15px;
	height: 90%;
}

.scrollable {
	overflow-x: none;
	overflow-y: auto;
}

.hidden {
	display: none;
}

a.menu-link {
	text-decoration: none;
	color: white;
}

a.menu-link:hover {
	color: blue;
}

table.pairs tr > td:first-child {
	font-weight: bold;
}

table.padded td {
	padding: 0px 5px 0px 5px;
}

table.lined td {
	border-bottom: 1px solid white;
}

/* DASHBOARD CSS*/
.label {
	font-weight: bold;
}

.unselected {
	background-color: #333333;
	color: white;
}

.selected {
	background-color: blue;
	color: white;
}

.hard-selected {
	background-color: green;
	color: white;
}

div#login-view {
	width: 300px;
	margin: auto;
	padding: 20px;
	background-color: #333333;
	border-radius: 25px;
}

div.dropdown-menu {
	position: absolute;
	width: 150px;
	display: none;
}

div#gift-modal {
	text-align: center;
	position: absolute;
	width: 600px;
	border: 1px solid black;
	border-radius: 15px;
	background-color: white;
	display: none;
	padding: 10px;
}

span#gift-span {
	color: blue;
	font-weight: normal;
	font-size: 100%;
}

div#possessions-view {
	display: block;
	border-radius: 15px;
	height: 200px;
}

div#badges {
	display: inline-block;
	height: 110px;
	width: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}

div#badges-menu {
	height: 50px;
}

div#badges-container {
	display: inline-block;
	float: left;
	width: 45%;
	vertical-align: top;
	margin: 0px 10px 0px 10px;
}

div#events {
	display: inline-block;
	height: 110px;
	width: 250px;
	overflow-y: auto;
	overflow-x: hidden;
	vertical-align: top;
}

div#events-menu {
	display: inline-block;
	margin: 10px 0px;
	vertical-align: top;
}

div#events-container {
	display: inline-block;
	float: right;
	width: 30%;
	vertical-align: top;
}

div.gifted {
	border: 1px solid whitesmoke;
	color: whitesmoke;
}

div.received {
	border: 1px solid pink;
	color: pink;
}

div.owned {
	border: 1px solid black;
}

div.badge {
	display: inline-block;
	text-align: center;
	height: 100px;
	width: 75px;
	margin: 5px;
	border-radius:15px;
}

div.event {
	border: 1px solid black;
	text-align: center;
	width: 200px;
	border-radius:25px;
	margin: 5px;
	padding: 5px;
}

div.badge-image {
	height: 75px;
	font-weight: bold;
	vertical-align: text-center;
}

div.badge-text {
	height: 25px;
    float: bottom;  
}

div#details-container {
	height: 250px;
	width: 800px;
	border-radius: 15px;
	margin: auto;
}

div#details-view {
	height: 200px;
	width: 400px;
	display: inline-block;
	border: 1px solid black;
	border-radius: 15px;
	padding: 5px;
	background-color: #333333;
	float: left;
}

div#details-menu {
	height: 200px;
	width: 325px;
	display: inline-block;
	padding: 5px;
	float: right;
}

td.highlighted {
	color: red;
}